
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


	/* Clearfix */
	.clearfix:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

	.clearfix { display: inline-block; }
	html[xmlns] .clearfix { display: block; }
	* html .clearfix { height: 1%; }

	/* logo replacement */

	header#site-header h1 { position:absolute; left:10px; top:10px; }
	header#site-header h1 a { display:block; width:100px; height:100px; background:url(images/map.png) top center no-repeat; text-indent:-9999px; }



/* background-gradient */

#logo {
  /* fallback */
  background-color: #FFFF99;
  background: url(images/linear_bg_2.png);
  background-repeat: repeat-x;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFF99), to(#FF3));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #FFFF99, #FF3);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #FFFF99, #FF3);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #FFFF99, #FF3);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #FFFF99, #FF3);
}
	
	

/* Center Content */

.centered { 
  margin:0 auto;
  width:1060;

}


/* start styling */

p {

	font-family: "Calluna";
	
}



#wrap {
	
	width:1060px;
	margin:auto 0;
}

#logoWrapper {
	
	width:1100px;
	margin:0 auto;

}

header {
	
	position:relative;
	margin:10px 0px 0 0;

	padding:5px 0 0 25px;
 
}


header h1 {
	
	font-family:helvetica;
	font-size:2.5em;

}


#logo h1 {

	font-family: 'Flavors';
	color:red;
	float:left;
	font-size:5em;
	padding:25px 10px 10px 300px;
 
}

#logo li {
	
	float:left;
}

#logo {
	
	width:1065px;
	position:relative;
	
}

#address h2 {
	
	font-family:'Flavors';
	float:right;
	width:45%;
	
	font-size:1.5em;
}

#top-nav {
	
	clear:both;
	width:1060px;
	height:40px;
	
<!-- 	background-color:#9933CC; purple -->

}

#top-nav li {
	 
	float:left;
	width:30%;
	padding:15px 0px 0px 20px;
}

#top-nav h3 {
	 
	color:#0C0 ; <!-- green -->
	width:25%;
	font-family:'Helvetica' ;
	font-size:1.25em; 
	
}

.socialMedia li {  
	
}

.twitterLogo li {
	
}

.twitterLogo {

}



a:link    {color:#0C0;}
a:visited {color:green;}
a:hover   {color:red;}
a:active  {color:yellow;}


body {
	
	clear:both;
	height:900px;
	background-color:#FFFF33; 
	<!-- yellow -->
	
	
}


#wrapper {
		
	width:1100px;
	margin:0px auto;
	
}


section {
	
		float:left;
		height:550px;
		width:1060px;
	
		margin:0 25px;
		background-color:#9933CC;
		<!--purple-->	
		
		border:2px solid;
		border-radius:25px 25px 0 0;
		-moz-border-radius:25px 25px 0 0;; /* Old Firefox */
}


section  p {


	color:#FF3;
	
}

#galleria {
	
	float:left;
	width:70%;
	height:500px;
 	margin:10px 5px 10px 15px;
 	
}

.galleria-thumbnails {

	margin:0 auto;	
	
}

aside {
	
	float:right;	
	width:25%;
	padding:5px;
}


aside a:hover {
	
	color:#0C0; <!-- green -->;
}



aside li h3 {

		font-family:"Helvetica";
		line-height:350%;
		
		margin:1px;
		color:#FFFF33; 
		<!-- yellow -->
}


p.order {
	
		font-size:1.25em;
	 	line-height:500%;
 		font-family:'helvetica';

		color:#CC99FF;  
	
}


#twitter {
	
	background-color:#C9F;
	padding:10px;
	margin:10px 0 0 0;
	width:85%;
	
	border:0px solid;
	border-radius:20px;
	-moz-border-radius:20px; /* Old Firefox */
	
	height:160px;
	overflow:scroll;
}

#twitter p {
	
	
}

#twitter a:link 	{color:#906; font-size:.85em; text-decoration:none;}
#twitter a:visited 	{color:#9933CC;}
#twitter a:hover  	{color:#CCC;}
#twitter a:active  	{color:#FF0000;}



li.quote {

	font-style:italic;
	color:#FF3; <!--yellow-->
	
}

	
footer {
	
	margin:25px;
	clear:both;
	width:1060px;
	padding:10px 0;

	background-color:#C9F;
	height:30px;
			
}

footer li {
		
		text-align:center;
		font-size:3em;

}
	
